
@model UrlViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div class="container container-fluid center-block">
    <div class="row">
        <div class="col-md-6 offset-3 landing">
            <h2 class="page-header; text-center">Enter a url and press the button to make it shorter. :)</h2>
            <div asp-validation-summary="ModelOnly"></div>
            <form asp-controller="App" asp-action="WarpUrl" method="post" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <input asp-for="Url" class="form-control" autocomplete="off"/>
                        <span class="input-group-btn" style="padding-left: 3px">
                            <button class="btn btn-default" type="submit">WarpUrl</button>
                        </span>
                    </div>
                    <span asp-validation-for="Url" class="text-danger"></span>
                </div>
                <div>
                </div>
            </form>
        </div>
    </div>
</div>


